/* Global */
:root {
    /* Color */
    --color-black:#00000;
    --color-white:#ffff;
    --color-dark-grey:#4d4d4d;
    --color-skyblue:#2175b1;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}


/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color:var(--color-white);
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-skyblue);
    margin: 20px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color:darkslategrey;
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color:var(--color-black);
    margin:8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color:var(--color-dark-grey);
    margin:4px 0;
}

/* Navbar */
#navbar {
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    color:var(--color-white);
    padding: 16px;
    z-index: 10;
    transition:all var(--animation-duration) ease-in-out;
}

#navbar.navbar-dark {
    background-color: #4C98CC;
    padding: 8px;
}

.navbar-logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}
.navbar-menu {
    display:flex;
}
.navbar-menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar-menu__item.active {
    border: 1px solid var(--color-white);
}

.navbar-menu__item:hover{
    background-color:var(--color-skyblue);
}

.navbar-toggle__btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size:  24px;
    color: var(--color-white);
    display: none;
}

/* Home */

#home {
    background:url("img/portfolio_head.png") center/cover no-repeat;
    padding: 40px;
    padding-top: 120px;
    text-align: center;
}

.home-avatar {
    width:250px;
    height:250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home-title,
.home-description {
    color:var(--color-skyblue);
}

.home-title{
    display: block;
    padding-top:50px;
}

.home-contact {
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin:24px;
    padding: 8px 12px;
    border: 2px solid var(--color-skyblue);
    border-radius: var(--size-border-radius);
    color: var(--color-skyblue);
}

/* Section common */

.section {
    padding:50px;
    text-align: center;
    margin: auto;
}

.section-container {
    max-width:1200px;
    margin: auto;
}

/* About */

.about-majors {
    display: flex;
    justify-content: space-between;
    margin:80px 0;
}
.major-icon:hover i {
    color:burlywood;
    transform: rotate(-30deg) scale(1.1);
}

.major-icon i {
    transition: all var(--animation-duration) ease;
}

.major-icon {
    width:170px;
    height:170px;
    font-size:70px;
    line-height: 170px;
    margin:auto;
    color:#7098b4;
    border: 1px solid var(--color-skyblue);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major-title {
    color:var(--color-dark-grey);
}
/* Skills */

#skills {
background-color: #eeeeee;
}

.skill-container {
    width: 70%;
    margin: auto;
}

.skill-description {
    display: flex;
    justify-content: space-between;
}

.skill {
    margin-bottom:30px;
    color:var(--color-dark-grey);
}

.skill-bar {
    width: 100%;
    height: 20px;
    background-color: var(--color-skyblue);
    border-radius: 10px;
}

.skill-value {
    height:20px;
    border-radius: 10px;
    background-color: burlywood;
}

/* Project */

.work-projects {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:280px;
    height:250px;
    margin:2px;
    background-color: #eeeeee;
}

.project-img {
    max-width: 100%;
    max-height:100%;
}

.project-description {
    position:absolute;
    background-color: #2175b1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project-description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project-description h3:after {
    content: "";
    display:block;
    position: relative;
    left: 50%;
    width: 50px;
    height: 2px;
    margin-left: -25px;
    margin-top: 8px;
    background-color: whitesmoke;
}

/* Contact */

#contact {
    background-color: #4C98CC;
}

.contact-title, .contact-email, .contact-rights {
    color:var(--color-white);
}

.contact-title {
    margin: 32px 0;
}

.contact-links {
    font-size: var(--font-large);
    margin: 24px 0;
    transition: all var(--animation-duration) ease-in;
}

.contact-links i:hover {
    transform: scale(1.1);
    color:burlywood;
}

/* Arrow up */

.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    color:var(--color-white);
    background-color: burlywood;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--animation-duration) ease-in;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (max-width: 768px) {
.navbar-toggle__btn {
    display: block;
}
#navbar {
    flex-direction: column;
    align-items: flex-start;
}
.navbar-menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
}
.about-majors {
    flex-direction: column;
}
.major {
    margin-bottom: 30px;
}
.work-projects {
    flex-direction: column;
}
.project {
    width: 100%;
  }
}