/* Global */
:root {
    /* Color */
    --color-black:#00000;
    --color-white:#ffff;
    --color-dark-grey:#4d4d4d;
    --color-skyblue:#2175b1;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}


/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color:var(--color-white);
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-skyblue);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color:darkslategrey;
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color:var(--color-black);
    margin:8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color:var(--color-dark-grey);
    margin:4px 0;
}

/* Navbar */
#navbar {
    display:flex;
    justify-content: space-between;
    background: url("img/navbar.png") center/cover no-repeat;
    align-items: center;
    color:var(--color-white);
    padding: 16px;
}
.navbar-logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}
.navbar-menu {
    display:flex;
}
.navbar-menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar-menu__item.active {
    border: 1px solid var(--color-white);
}

.navbar-menu__item:hover{
    background-color:var(--color-skyblue);
}

/* Home */

#home {
    background:url("img/portfolio_head.png") center/cover no-repeat;
    padding: 40px;
    text-align: center;
}

.home-avatar {
    width:250px;
    height:250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home-title,
.home-description {
    color:var(--color-skyblue);
}

.home-title{
    display: block;
    padding-top:50px;
}

.home-contact {
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin:24px;
    padding: 8px 12px;
    border: 2px solid var(--color-skyblue);
    border-radius: var(--size-border-radius);
    color: var(--color-skyblue);
}

/* Section common */

.section {
    padding:50px;
    text-align: center;
    max-width:1200px;
    margin: auto;
}

.about-majors {
    display: flex;
    justify-content: space-between;
    margin:80px 0;
}
.major-icon:hover i {
    color:burlywood;
    transform: rotate(-30deg) scale(1.1);
}

.major-icon i {
    transition: all var(--animation-duration) ease;
}

.major-icon {
    width:170px;
    height:170px;
    font-size:70px;
    line-height: 170px;
    margin:auto;
    color:#7098b4;
    border: 1px solid var(--color-skyblue);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major-title {
    color:var(--color-dark-grey);
}